@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/Images/jk.jpg"/>
    <h1 style="font-family:fantasy">Jeśli sądzisz, że w dobie komputerów sztuka czytania zanikła, zwłaszcza wśród dzieci, to niezawodny znak, że jesteś MUGOLEM!</h1>
    <h3 style="font-family:fantasy"><i>J.K. Rowling</i></h3>
    <a asp-page="/Forms/AddNewItem" class="btn btn-primary">Dodaj nową</a>
    <a asp-page="/Forms/View" class="btn btn-dark">Przejdź do listy książek</a>
</div>
